<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <%- include("../../partials/layout/head") %>
</head>

<body id="dashboard" class="background-image background-image-space background-image-fixed dashboard theme-light h-100">
    <%- include("../../partials/pages/dashboard/account") %>
    <%- include("../../partials/pages/dashboard/keys") %>
    <%- include("../../partials/pages/dashboard/credits") %>
    <%- include("../../partials/pages/dashboard/updates") %>
    <main>
        <div id="dashboard-data" data-capacity="<%= user.keys.length / user.capacity * 100 %>" data-usage="<%= JSON.stringify(user.usage.slice(-12)) %>"></div>
        <section>
            <div class="container-fluid px-3 px-md-4 py-3">
                <div class="row justify-content-center">
                    <div class="content-lg col">
                        <div class="row">
                            <div class="col-auto my-auto">
                                <img id="account-button" class="cursor-pointer" alt="Picture" src="https://res.cloudinary.com/dhv9gcew6/image/upload/q_auto/v1697194211/sattrack-arcturus/icons/profile_v0kdmy.png" width="30" height="30">
                            </div>
                            <div class="col-auto my-auto">
                                <p class="text-size-sm text-color-white mb-0"><%= user.name %></p>
                                <p class="text-size-xs text-color-orange mb-0"><%= user.username %></p>
                            </div>
                            <div class="col my-auto"></div>
                            <div class="col-auto my-auto">
                                <img class="shadow-lg" alt="SatTrack-Arcturus" src="<%= images.icon %>" width="30" height="30">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="mt-3">
            <div class="container-fluid px-3 px-md-4 py-3">
                <div class="row justify-content-center">
                    <div class="content-xs col">
                        <div class="card card-basic background-color background-color-midnight border-0 shadow-lg px-4 py-4">
                            <div class="row g-0 mb-1">
                                <div class="col-auto my-auto">
                                    <p class="text-size-sm text-color-white fw-bold mb-0">System Status</p>
                                </div>
                                <div class="col-auto my-auto">
                                    <div class="background-color background-color-green rounded-circle mx-2" style="width: 6px; height: 6px;"></div>
                                </div>
                            </div>
                            <p class="text-size-sm text-color-white">All systems are operational. If you encounter any issues, please file a report by clicking the button below.</p>
                            <div class="row g-0">
                                <div class="col-auto my-auto">
                                    <a href="https://github.com/jpvitan/sattrack-arcturus/issues" class="button-pill button-pill-orange text-size-xs btn" target="_blank">Report Issue</a>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <%- include("../../partials/forms/items/midnight", { id: 'dashboard-start-button', title: 'Start', icon: 'https://res.cloudinary.com/dhv9gcew6/image/upload/q_auto/v1751969756/sattrack-arcturus/icons/rocket_nnz6xr.png' }) %>
                            <%- include("../../partials/forms/items/midnight", { id: 'dashboard-guide-button', title: 'Guide', icon: 'https://res.cloudinary.com/dhv9gcew6/image/upload/q_auto/v1697194772/sattrack-arcturus/icons/book_b5xag6.png' }) %>
                            <%- include("../../partials/forms/items/midnight", { id: 'keys-button', title: 'Keys', icon: 'https://res.cloudinary.com/dhv9gcew6/image/upload/q_auto/v1697194118/sattrack-arcturus/icons/keys_voi7mt.png' }) %>
                            <%- include("../../partials/forms/items/midnight", { id: 'credits-button', title: 'Credits', icon: 'https://res.cloudinary.com/dhv9gcew6/image/upload/q_auto/v1709565027/sattrack-arcturus/icons/coins_wodviv.png' }) %>
                            <%- include("../../partials/forms/items/midnight", { id: 'updates-button', title: 'Updates', icon: 'https://res.cloudinary.com/dhv9gcew6/image/upload/q_auto/v1710508829/sattrack-arcturus/icons/up_mva1p8.png' }) %>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div id="filler"></div>
    </main>
    <%- include("../../partials/layout/footer") %>
</body>

</html>