<div class="keys screen background-color background-color-white d-none" id="keys">
    <div class="container-fluid px-4 py-4">
        <div class="row">
            <div class="col-auto">
                <button class="button-icon button-icon-black btn" id="keys-close-button">
                    <%- include("../../icons/close") %>
                </button>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="content-xs col">
                <p class="text-size-lg text-color-black fw-bold mb-1">Keys</p>
                <p class="text-size-sm">Effortlessly manage and secure your keys with our intuitive platform. Customize permissions, monitor usage, and ensure streamlined control in just a few clicks.</p>
                <%- include("../../forms/field", { attributes: { id: 'keys-hidden-username-form', type: 'hidden', value: user.username } }) %>
                <div class="py-4">
                    <p class="text-size-md text-color-black fw-bold mb-1">Key Management</p>
                    <div class="py-3">
                        <p class="text-size-sm mb-1">Generate Key</p>
                        <p class="text-size-sm text-color-black" id="keys-generate-key-notice">Use this option if you want to generate a key. It is advisable to employ distinct keys for each application to enhance security.</p>
                        <div class="mb-2 d-none" id="generate-key">
                            <%- include("../../forms/field", { attributes: { id: 'generate-key-name-form', type: 'text', placeholder: 'Name', required: 'required' } }) %>
                        </div>
                        <button class="button-plain button-plain-blue text-size-xs btn px-0" id="keys-generate-key-button">Generate Key</button>
                        <button class="button-plain button-plain-blue text-size-xs btn px-0 d-none" id="keys-copy-key-button">Copy Key</button>
                    </div>
                    <div class="py-3">
                        <p class="text-size-sm mb-1">Manage Keys</p>
                        <p class="text-size-sm text-color-black" id="keys-generate-key-notice">This section allows you to monitor, delete, and seamlessly manage your keys.</p>
                        <% user.keys.forEach((key) => { %>
                        <div class="background-color background-color-seashell card-basic card shadow border-0 px-4 py-4 mb-4">
                            <div class="row g-0">
                                <div class="col-auto my-auto">
                                    <p class="text-size-sm text-color-black fw-bold mb-0"><%- key.name -%></p>
                                    <div class="row g-0">
                                        <div class="col-auto my-auto">
                                            <div class="<%- (key.status === 'Active') ? 'background-color-green' : 'background-color-red' -%> me-1" style="width: 5px; height: 5px; border-radius: 50%;"></div>
                                        </div>
                                        <div class="col-auto my-auto">
                                            <p class="text-size-xs mb-0"><%- key.status -%></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col"></div>
                                <div class="col-auto my-auto">
                                    <button class="keys-status-key-button button-pill <%- (key.status === 'Active') ? 'button-pill-orange' : 'button-pill-green' -%> text-size-xs btn me-1" data-id="<%- key.id -%>"><%- (key.status === 'Active') ? 'Deactivate' : 'Activate' -%> Key</button>
                                </div>
                                <div class="col-auto my-auto">
                                    <button class="keys-delete-key-button button-pill button-pill-red text-size-xs btn" data-id="<%- key.id -%>">Delete Key</button>
                                </div>
                            </div>
                            <div class="row g-0 mt-4">
                                <div class="col">
                                    <p class="text-size-xs mb-0">We want to remind you of your responsibility in safeguarding your API keys. If you observe any suspicious behavior, please take immediate action by deleting or deactivating your key.</p>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>