<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../../partials/layout/head") %>
</head>

<body id="start" class="start theme-light">
    <main>
        <section>
            <div class="container-fluid px-3 px-md-4 py-3">
                <div class="row justify-content-center">
                    <div class="content-lg col">
                        <div class="row">
                            <div class="col-auto my-auto">
                                <img class="shadow-lg" alt="SatTrack-Arcturus" src="<%= images.icon %>" width="30" height="30">
                            </div>
                            <div class="col-auto my-auto">
                                <p class="text-size-sm text-color-black mb-0">SatTrack</p>
                                <p class="text-size-xs mb-0">Arcturus</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container-fluid px-4 py-4">
                <div class="row justify-content-center">
                    <div class="content-xs col">
                        <h1 class="text-size-lg mb-2">Support</h1>
                        <p class="text-size-sm">SatTrack-Arcturus is committed to providing reliable service and dependable assistance. This page will help you find the resources you need to resolve issues and access support.</p>
                        <h2 class="text-size-md mt-5 mb-2">Frequently Asked Questions</h2>
                        <p class="text-size-sm">Before contacting support, please review the list of commonly asked questions below. Many frequently encountered issues are covered here, and you may find the solution you need without having to reach out.</p>
                        <h3 class="text-size-sm mt-5 mb-2">General Information</h3>
                        <div class="accordion accordion-flush" id="general-information-accordion">
                            <%- include("../../partials/forms/accordion", { parent: 'general-information-accordion', id: 'one', title: 'What is SatTrack-Arcturus?', body: '<p class="text-size-sm">SatTrack-Arcturus is a RESTful API built with Node.js and Express that lets you track and predict the orbit of artificial satellites through the use of the Simplified General Perturbations-4 (SGP4) model.</p>' }) %>
                            <%- include("../../partials/forms/accordion", { parent: 'general-information-accordion', id: 'two', title: 'What is the SGP4 model?', body: '<p class="text-size-sm">The SGP4 (Simplified General Perturbations 4) model is a standard algorithm used to predict satellite positions and velocities from TLE (Two-Line Element) data. It accounts for Earth’s shape, gravitational perturbations, and atmospheric drag to provide accurate orbit propagation.</p>' }) %>
                            <%- include("../../partials/forms/accordion", { parent: 'general-information-accordion', id: 'three', title: 'What kind of satellites can I track using SatTrack-Arcturus?', body: '<p class="text-size-sm">You can track any Earth-orbiting artificial satellite with valid TLE data, including communication, navigation, and observation satellites, as well as the International Space Station (ISS).</p>' }) %>
                        </div>
                        <h3 class="text-size-sm mt-5 mb-2">Usage and Integration</h3>
                        <div class="accordion accordion-flush" id="usage-integration-accordion">
                            <%- include("../../partials/forms/accordion", { parent: 'usage-integration-accordion', id: 'one', title: 'How do I access the SatTrack-Arcturus API?', body: '<p class="text-size-sm"></p>' }) %>
                            <%- include("../../partials/forms/accordion", { parent: 'usage-integration-accordion', id: 'two', title: '', body: '<p class="text-size-sm"></p>' }) %>
                            <%- include("../../partials/forms/accordion", { parent: 'usage-integration-accordion', id: 'three', title: '', body: '<p class="text-size-sm"></p>' }) %>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div id="filler"></div>
    </main>
    <%- include("../../partials/layout/footer") %>
</body>

</html>