<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../../partials/layout/head") %>
</head>

<body id="track" class="track theme-light">
    <main>
        <section>
            <div class="container-fluid px-3 px-md-4 py-3">
                <div class="row justify-content-center">
                    <div class="content-lg col">
                        <div class="row">
                            <div class="col-auto my-auto">
                                <img class="shadow-lg" alt="SatTrack-Arcturus" src="../images/apple-touch-icon.png" width="30" height="30">
                            </div>
                            <div class="col-auto my-auto">
                                <p class="text-size-sm text-color-black mb-0">SatTrack</p>
                                <p class="text-size-xs mb-0">Arcturus</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container-fluid px-4 py-4">
                <div class="row justify-content-center">
                    <div class="content-xs col">
                        <h1 class="text-size-lg mb-2">Trackable Satellites</h1>
                        <p class="text-size-sm">Tracking is supported only for satellites with a valid TLE (Two-Line Element). Satellites without a TLE cannot be tracked. You can explore a list of trackable satellites below.</p>
                        <div class="mt-5">
                            <%- include("../../partials/forms/field", { attributes: { id: 'track-search-form', type: 'text', placeholder: 'Search' } }) %>
                        </div>
                        <div class="table-responsive mt-3">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="text-size-sm" scope="col">NORAD</th>
                                        <th class="text-size-sm" scope="col">Name</th>
                                        <th class="text-size-sm" scope="col">Country</th>
                                        <th class="text-size-sm" scope="col">Purpose</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% satellite.forEach(({ norad, name, country, purpose }) => { %>
                                    <tr>
                                        <td class="text-size-xs-plus"><%= norad %></td>
                                        <td class="text-size-xs-plus"><%= name %></td>
                                        <td class="text-size-xs-plus"><%= country %></td>
                                        <td class="text-size-xs-plus"><%= purpose %></td>
                                    </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div id="filler"></div>
    </main>
    <%- include("../../partials/layout/footer") %>
</body>

</html>