<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/layout/head") %>
</head>

<body id="dashboard" class="dashboard theme-light">
    <%- include("../partials/pages/dashboard/account") %>
    <%- include("../partials/pages/dashboard/keys") %>
    <%- include("../partials/pages/dashboard/satellite") %>
    <main>
        <section>
            <div class="container-fluid px-3 px-md-4 py-3">
                <div class="row justify-content-center">
                    <div class="content-lg col">
                        <div class="row">
                            <div class="col-auto my-auto">
                                <img alt="Picture" src="https://res.cloudinary.com/dhv9gcew6/image/upload/q_auto/v1697194211/sattrack-arcturus/icons/profile_v0kdmy.png" width="30" height="30">
                            </div>
                            <div class="col-auto my-auto">
                                <p class="text-size-sm text-color-black mb-0"><%= user.name %></p>
                                <p class="text-size-xs mb-0"><%= user.username %></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="mt-3">
            <div class="container-fluid px-3 px-md-4 py-3">
                <div class="row justify-content-center">
                    <div class="content-lg col">
                        <div class="row">
                            <div class="col-md">
                                <%- include("../partials/forms/item", { id: 'keys-item', image: 'https://res.cloudinary.com/dhv9gcew6/image/upload/q_auto/v1697194118/sattrack-arcturus/icons/keys_voi7mt.png', title: 'Keys', description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde ipsam corrupti molestiae distinctio minus mollitia magnam et.' }) %>
                            </div>
                            <div class="col-md mt-3 mt-md-0">
                                <%- include("../partials/forms/item", { id: 'documentation-item', image: 'https://res.cloudinary.com/dhv9gcew6/image/upload/q_auto/v1697194772/sattrack-arcturus/icons/book_b5xag6.png', title: 'Documentation', description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde ipsam corrupti molestiae distinctio minus mollitia magnam et.' }) %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include("../partials/layout/footer") %>
</body>

</html>