<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/layout/head") %>
</head>

<body id="dashboard" class="dashboard theme-light">
    <%- include("../partials/pages/dashboard/account") %>
    <%- include("../partials/pages/dashboard/keys") %>
    <%- include("../partials/pages/dashboard/satellite") %>
    <main>
        <div id="dashboard-data" data-usage="<%= JSON.stringify(user.usage.slice(-12)) %>"></div>
        <section>
            <div class="container-fluid px-3 px-md-4 py-3">
                <div class="row justify-content-center">
                    <div class="content-lg col">
                        <div class="row">
                            <div class="col-auto my-auto">
                                <img id="account-button" class="cursor-pointer" alt="Picture" src="https://res.cloudinary.com/dhv9gcew6/image/upload/q_auto/v1697194211/sattrack-arcturus/icons/profile_v0kdmy.png" width="30" height="30">
                            </div>
                            <div class="col-auto my-auto">
                                <p class="text-size-sm text-color-black mb-0"><%= user.name %></p>
                                <p class="text-size-xs mb-0"><%= user.username %></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="mt-3">
            <div class="container-fluid px-3 px-md-4 py-3">
                <div class="row justify-content-center">
                    <div class="content-lg col">
                        <p class="text-size-lg text-color-black fw-bold mb-0">Dashboard</p>
                        <div class="row">
                            <div class="col-md mt-4">
                                <div class="background-color background-color-white card-full card shadow border-0 px-4 py-4">
                                    <div class="row g-0">
                                        <div class="col-auto my-auto">
                                            <img class="d-block" alt="System" src="https://res.cloudinary.com/dhv9gcew6/image/upload/q_auto/v1709657866/sattrack-arcturus/icons/system_akimd0.png" width="18" height="18">
                                        </div>
                                        <div class="col-auto my-auto">
                                            <p class="text-size-md text-color-black fw-bold mx-2 mb-0">System Status</p>
                                        </div>
                                    </div>
                                    <div class="row g-0 mt-4">
                                        <div class="col">
                                            <p class="text-size-sm text-color-black fw-bold mb-0">Satellite Information</p>
                                            <p class="text-size-sm text-color-green fw-bold mb-0">Active</p>
                                            <p class="text-size-sm text-color-black fw-bold mt-3 mb-0">Satellite Tracking</p>
                                            <p class="text-size-sm text-color-green fw-bold mb-0">Active</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md mt-4">
                                <div class="background-color background-color-seashell card-full card shadow border-0 px-4 py-4">
                                    <div class="row g-0">
                                        <div class="col-auto my-auto">
                                            <img class="d-block" alt="Credits" src="https://res.cloudinary.com/dhv9gcew6/image/upload/q_auto/v1709565027/sattrack-arcturus/icons/coins_wodviv.png" width="18" height="18">
                                        </div>
                                        <div class="col-auto my-auto">
                                            <p class="text-size-md text-color-black fw-bold mx-2 mb-0">Credits</p>
                                        </div>
                                    </div>
                                    <div class="row g-0 mt-4">
                                        <div class="col">
                                            <p class="text-size-sm text-color-black fw-bold mb-0">Wallet</p>
                                            <p class="text-size-sm text-color-green fw-bold mb-0">$0.00</p>
                                            <p class="text-size-sm text-color-black fw-bold mt-3 mb-0">Available Credits</p>
                                            <p class="text-size-sm text-color-blue fw-bold mb-0"><%- user.credits %></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md mt-4">
                                <div class="background-color background-color-seashell card-full card shadow border-0 px-4 py-4">
                                    <div class="row g-0">
                                        <div class="col-auto my-auto">
                                            <img class="d-block" alt="Usage" src="https://res.cloudinary.com/dhv9gcew6/image/upload/q_auto/v1708558602/sattrack-arcturus/icons/graph_bo20mq.png" width="18" height="18">
                                        </div>
                                        <div class="col-auto my-auto">
                                            <p class="text-size-md text-color-black fw-bold mx-2 mb-0">Usage</p>
                                        </div>
                                    </div>
                                    <div class="row g-0 mt-4">
                                        <div class="col">
                                            <canvas id="usage-chart"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md mt-4">
                                <div>
                                    <%- include("../partials/forms/item", { id: 'keys-item', image: 'https://res.cloudinary.com/dhv9gcew6/image/upload/q_auto/v1697194118/sattrack-arcturus/icons/keys_voi7mt.png', title: 'Keys', description: 'Effortlessly manage and secure your keys with our intuitive platform. Customize permissions, monitor usage, and ensure streamlined control in just a few clicks.' }) %>
                                </div>
                                <div class="mt-3">
                                    <%- include("../partials/forms/item", { id: 'satellite-item', image: 'https://res.cloudinary.com/dhv9gcew6/image/upload/q_auto/v1698167217/sattrack-arcturus/icons/antenna_kqnsu1.png', title: 'Satellite', description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde ipsam corrupti molestiae distinctio minus mollitia magnam et.' }) %>
                                </div>
                                <div class="mt-3">
                                    <%- include("../partials/forms/item", { id: 'documentation-item', image: 'https://res.cloudinary.com/dhv9gcew6/image/upload/q_auto/v1697194772/sattrack-arcturus/icons/book_b5xag6.png', title: 'Documentation', description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde ipsam corrupti molestiae distinctio minus mollitia magnam et.' }) %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include("../partials/layout/footer") %>
</body>

</html>