<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/layout/head") %>
</head>

<body id="dashboard" class="dashboard theme-light">
    <%- include("../partials/pages/dashboard/account") %>
    <%- include("../partials/pages/dashboard/keys") %>
    <%- include("../partials/pages/dashboard/satellite") %>
    <main>
        <section>
            <div class="container-fluid px-3 px-md-4 py-3">
                <div class="row justify-content-center">
                    <div class="content-lg col">
                        <div class="row">
                            <div class="col-auto my-auto">
                                <img alt="Picture" src="https://res.cloudinary.com/dhv9gcew6/image/upload/q_auto/v1696090301/sattrack-arcturus/icons/izb0sv32srhv0vwzfjbn.png" width="30" height="30">
                            </div>
                            <div class="col-auto my-auto">
                                <p class="text-size-sm text-color-black mb-0"><%= user.name %></p>
                                <p class="text-size-xs mb-0"><%= user.username %></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="mt-5">
            <div class="container-fluid px-3 px-md-4 py-3">
                <div class="row justify-content-center">
                    <div class="content-lg col">
                        <div class="row">
                            <div class="col-md">
                                <div class="background-color background-color-white card-basic card border-0 px-5 py-5" id="keys-button">
                                    <p class="text-size-md text-color-black fw-bold mb-1">Keys</p>
                                    <p class="text-size-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde ipsam corrupti molestiae distinctio minus mollitia magnam et.</p>
                                </div>
                            </div>
                            <div class="col-md mt-3 mt-md-0">
                                <div class="background-color background-color-white card-basic card border-0 px-5 py-5" id="documentation-button">
                                    <p class="text-size-md text-color-black fw-bold mb-1">Documentation</p>
                                    <p class="text-size-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde ipsam corrupti molestiae distinctio minus mollitia magnam et.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include("../partials/layout/footer") %>
</body>

</html>