<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/layout/head") %>
</head>

<body class="home theme-light">
    <div class="account">
        <div class="sign-in d-none" id="account-sign-in">
            <div class="container-fluid px-4 py-4">
                <div class="row">
                    <div class="col-auto">
                        <button class="btn" id="account-sign-in-close-button">
                            <%- include("../partials/icons/close") %>
                        </button>
                    </div>
                </div>
                <div class="row justify-content-center mt-5">
                    <div class="content-xs col">
                        <p class="text-size-xl text-color-black fw-bold mb-1">Sign in</p>
                        <p class="text-size-sm">By signing in, you are consenting to abide by the <a href="">Terms of Service</a> and <a href="">Privacy Policy</a> of this application.</p>
                        <form id="account-sign-in-form">
                            <div class="mt-5">
                                <p class="text-size-sm text-color-red" id="account-sign-in-notice"></p>
                                <%- include("../partials/forms/field", { id: 'account-sign-in-username-form', type: 'text', placeholder: 'Username' }) %>
                            </div>
                            <div class="mt-3">
                                <%- include("../partials/forms/field", { id: 'account-sign-in-password-form', type: 'password', placeholder: 'Password' }) %>
                            </div>
                            <div class="mt-4">
                                <div class="row">
                                    <div class="col my-auto">
                                        <p class="text-size-sm mb-0">Forgot password? Click <a href="">here</a> to reset.</p>
                                    </div>
                                    <div class="col-auto my-auto">
                                        <button class="button button-color-blue text-size-sm btn px-4 py-2">Sign in</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="sign-up d-none" id="account-sign-up">
            <div class="container-fluid px-4 py-4">
                <div class="row">
                    <div class="col-auto">
                        <button class="btn" id="account-sign-up-close-button">
                            <%- include("../partials/icons/close") %>
                        </button>
                    </div>
                </div>
                <div class="row justify-content-center mt-5">
                    <div class="content-xs col">
                        <p class="text-size-xl text-color-black fw-bold mb-1">Sign up</p>
                        <p class="text-size-sm">By signing up, you are consenting to abide by the <a href="">Terms of Service</a> and <a href="">Privacy Policy</a> of this application.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <main>
        <section class="vh-100">
            <div class="background-image background-image-space card-feature card shadow-lg border-0 h-100">
                <div class="background-blur h-100 d-flex justify-content-center align-items-center">
                    <div class="content-xs text-center px-4 py-4">
                        <img class="shadow-lg mb-4" alt="SatTrack-Arcturus" src="images/apple-touch-icon.png" width="70" height="70">
                        <p class="text-size-sm text-color-white"><strong class="text-color-amethyst">SatTrack-Arcturus</strong> is a RESTful API built with Node.js and Express that lets you retrieve useful satellite information by providing identifiers assigned by the North American Aerospace Defense Command (NORAD).</p>
                        <p class="text-size-sm text-color-white">Built by <a href="https://jpvitan.com/" class="text-color-blue fw-bold">Justine Paul Vitan</a> as a solo project to demonstrate his capabilities in developing back-end applications with JavaScript-based frameworks.</p>
                        <button class="button button-outline-white btn px-4 py-2 mt-4" id="account-sign-in-button">Sign in</button>
                        <button class="button button-text-white btn px-4 py-2 mt-4" id="account-sign-up-button">Sign up</button>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include("../partials/layout/footer") %>
</body>

</html>