<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/layout/head") %>
</head>

<body id="home" class="home theme-light">
    <%- include("../partials/pages/menu") %>
    <%- include("../partials/pages/sign-in") %>
    <%- include("../partials/pages/sign-up") %>
    <main>
        <section>
            <div class="container-fluid px-3 px-md-4 py-3">
                <div class="row justify-content-center">
                    <div class="content-lg col">
                        <div class="row">
                            <div class="col-auto my-auto">
                                <img class="shadow-lg" alt="SatTrack-Arcturus" src="images/apple-touch-icon.png" width="30" height="30">
                            </div>
                            <div class="col-auto my-auto">
                                <p class="text-size-sm text-color-black mb-0">SatTrack</p>
                                <p class="text-size-xs mb-0">Arcturus</p>
                            </div>
                            <div class="col my-auto">

                            </div>
                            <div class="d-block d-lg-none col-auto my-auto">
                                <button class="button-icon button-icon-black btn" id="menu-button">
                                    <%- include("../partials/icons/menu") %>
                                </button>
                            </div>
                            <div class="d-none d-lg-block col-auto my-auto">
                                <a class="button-plain button-plain-blue text-size-xs btn" href="/help/documentation">Documentation</a>
                                <button class="button-pill button-pill-seashell text-size-xs btn" id="sign-in-button">Sign in</button>
                                <button class="button-plain button-plain-blue text-size-xs btn" id="sign-up-button">Sign up</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container-fluid px-4 py-4">
                <div class="row justify-content-center">
                    <div class="content-sm col text-center">
                        <h2>Track with ease.</h2>
                        <p class="text-size-sm">SatTrack-Arcturus is a RESTful API built with Node.js and Express that lets you track and predict the orbit of artificial satellites through the use of the Simplified General Perturbations-4 (SGP4) model.</p>
                        <a href="/help/start" class="button-pill button-pill-orange text-size-xs btn">Start</a>
                        <img class="img-fluid my-5" alt="SatTrack-X" src="https://res.cloudinary.com/dhv9gcew6/image/upload/q_auto/v1676133708/jpvitan-website/sattrack-x/samsung_kpuoje.png" width="1527" height="2273">
                    </div>
                </div>
            </div>
        </section>
        <section class="background-color background-color-seashell shadow-sm py-5 mt-sm-5">
            <div class="container-fluid px-4 py-4">
                <div class="row justify-content-center">
                    <div class="content-sm col text-center">
                        <dotlottie-player class="animation-size-md mx-auto" src="https://lottie.host/a171be22-e539-4043-aaa7-3e8076e1896e/CM7eTFa2OE.lottie" background="transparent" speed="1" loop autoplay></dotlottie-player>
                        <h2>Simple and Powerful.</h2>
                        <p class="text-size-sm">A lightweight, developer-friendly API that makes it easy to access, predict, and integrate satellite orbits—without sacrificing accuracy or performance.</p>
                        <img class="img-fluid my-5" alt="Dashboard" src="https://res.cloudinary.com/dhv9gcew6/image/upload/q_auto/v1732561758/sattrack-arcturus/screenshots/dashboard_zap3yu.png" width="3287" height="1884">
                    </div>
                </div>
            </div>
        </section>
        <section class="background-color background-color-white py-5 mt-sm-5">
            <div class="container-fluid px-4 py-4">
                <div class="row justify-content-center">
                    <div class="content-sm col text-center">
                        <dotlottie-player class="animation-size-md mx-auto" src="https://lottie.host/915c359b-adf4-4319-a2a9-209a481b75d2/Mmr85NNK3M.lottie" background="transparent" speed="1" loop autoplay></dotlottie-player>
                        <h2>Massive and Precise.</h2>
                        <p class="text-size-sm">Track thousands of satellites with precision, using the SGP4 model to predict their orbits—built for accuracy, trusted by experts, and designed for seamless integration at any scale.</p>
                        <img class="img-fluid my-5" alt="Track" src="https://res.cloudinary.com/dhv9gcew6/image/upload/q_auto/v1732561782/sattrack-arcturus/screenshots/track_o4tvqy.png" width="3287" height="1884">
                    </div>
                </div>
            </div>
        </section>
        <section class="background-color background-color-seashell shadow-sm py-5 mt-sm-5">
            <div class="container-fluid px-4 py-4">
                <div class="row justify-content-center">
                    <div class="content-sm col text-center">
                        <dotlottie-player class="animation-size-md mx-auto" src="https://lottie.host/6a3aec42-8508-4f74-8147-95b9a2098444/w69uoKc6mh.lottie" background="transparent" speed="1" loop autoplay></dotlottie-player>
                        <h2>Safe and Secure.</h2>
                        <p class="text-size-sm">Designed with security at its core—safeguard your data, keys, and infrastructure using encrypted channels, industry-leading encryption standards, and time-tested protocols you can trust.</p>
                        <img class="img-fluid my-5" alt="Keys" src="https://res.cloudinary.com/dhv9gcew6/image/upload/q_auto/v1732561780/sattrack-arcturus/screenshots/keys_odsjci.png" width="3287" height="1884">
                    </div>
                </div>
            </div>
        </section>
        <div id="filler"></div>
    </main>
    <%- include("../partials/layout/footer") %>
</body>

</html>