<div class="form-item cursor-pointer background-color background-color-white card-basic card border-0 px-4 py-4" id="<%= id %>">
    <div class="row g-0">
        <div class="col-auto my-auto">
            <img class="d-block" alt="<%= title %>" src="<%= image %>" width="18" height="18">
        </div>
        <div class="col-auto my-auto">
            <p class="text-size-md text-color-black fw-bold mx-2 mb-0"><%= title %></p>
        </div>
    </div>
    <p class="text-size-sm mt-2"><%= description %></p>
</div>