<div class="sign-up screen background-color background-color-white d-none" id="sign-up">
    <div class="container-fluid px-4 py-4">
        <div class="row">
            <div class="col-auto">
                <button class="button-icon button-icon-black btn" id="sign-up-close-button">
                    <%- include("../icons/close") %>
                </button>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="content-xs col">
                <p class="text-size-xl text-color-black fw-bold mb-1">Sign up</p>
                <p class="text-size-sm">By signing up, you are consenting to abide by the <a href="">Terms of Service</a> and <a href="">Privacy Policy</a> of this application.</p>
                <form id="sign-up-form">
                    <div class="mt-5">
                        <p class="text-size-sm" id="sign-up-notice">Please ensure all fields are filled out before submitting.</p>
                        <%- include("../forms/field", { attributes: { id: 'sign-up-name-form', type: 'text', placeholder: 'Name', required: 'required' } }) %>
                    </div>
                    <div class="mt-3">
                        <%- include("../forms/field", { attributes: { id: 'sign-up-email-form', type: 'email', placeholder: 'Email', required: 'required' } }) %>
                    </div>
                    <div class="mt-3">
                        <%- include("../forms/field", { attributes: { id: 'sign-up-username-form', type: 'text', placeholder: 'Username', required: 'required' } }) %>
                    </div>
                    <div class="mt-3">
                        <div class="row">
                            <div class="col">
                                <p class="text-size-sm">Your password should include a combination of upper and lower case letters, numbers, and special characters.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <%- include("../forms/field", { attributes: { id: 'sign-up-password-form', type: 'password', placeholder: 'Password', required: 'required' } }) %>
                            </div>
                            <div class="col-sm mt-3 mt-sm-0">
                                <%- include("../forms/field", { attributes: { id: 'sign-up-repeat-form', type: 'password', placeholder: 'Confirm Password', required: 'required' } }) %>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4">
                        <div class="row">
                            <div class="col my-auto">
                            </div>
                            <div class="col-auto my-auto">
                                <button class="button-pill button-pill-blue text-size-sm btn px-4 py-2">Sign up</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>